include ../../common/mixins

extend ../../layouts/index

block head

  <!-- line -->
  <!-- build:css /styles/index.min.css -->
  +add_style("/styles/components/header.css")
  +add_style("/styles/components/agent.css")
  +add_style("/styles/components/resource.css")
  +add_style("/styles/index.css")
  <!-- line -->
  <!-- endbuild -->

block footer_script

  +add_script("/jquery/dist/jquery.min.js")
  +add_script("/bootstrap/dist/js/bootstrap.min.js")

  <!-- line -->
  <!-- build:js /scripts/page1/index.min.js -->
  +add_script("/scripts/index.js")
  <!-- line -->
  <!-- endbuild -->
