.agent
  .row
    .col-md-6
      b.name bjsdmngbgr02.thoughtworks.com
    .col-md-6
      p | idel | 192.168.1.2 | /var/lib/cruise-agent
  .row
    .col-md-12
      a(href="#") Specify Resources
      label | Resources:
      ul.resource-list
        li.resource ubuntu
        li.resource firefox
        li.resource mysql
        li.resource core-due
