header
  h1
    a(href="#") Cruise
  nav
    ul.nav.nav-tabs
      li
        a(href="#") Dashboard
      li
        a(href="#") My Cruise
      li.active
        a(href="#") Agents
      li
        a(href="#") Help
