@require "common/variables"

#content {
  width: page-width;
  margin: 0 auto;
  border: 1px solid border-color;
  border-top: none;

  .agent-list {
    padding-right: 0;
  }
}

.sidebar {
  padding-left: 0;

  .summary {
  }


}
